.about_collapses {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include desktop {
        gap: 40px;
        margin-top: 30px;
    }

    .collapse_description {
        color: $main_color;

        @include desktop {
            width: 100%;
        }
    }
}