.about {
    height: 70vh;
}


.about_collapses {
    margin-top: 3rem;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include desktop {
        gap: 4rem;
        margin: 3rem;
    }

    .collapse_description {
        color: $main_color;

        @include desktop {
            width: 100%;
        }
    }
}