
  .gallery {
    margin-left: 15px;
    margin-right: 15px;
    
    @include desktop {
        background-color: #f6f6f6;
        border-radius: 25px;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 30px;
        
    }
}

.home_page {
  position: relative;
  &_title {
    position: absolute;
    
    color: white;
    
    width: 50%;
    top: 2rem;
    left: 2rem;
  
    @include desktop {
      width: 100%;
      font-size: 48px;
      text-align: center;
    }
  }

}