

    .collapse_description_title {
        background-color: $main_color;
        width: 100%;
        padding: 10px 0px 10px 10px;
        border-radius: 10px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include desktop {
            padding: 10px, 20px, 10px, 10px;
            font-size: 18px;
        }

        i {
            margin-right: 10px;
        }
    }

