.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  &_logo {
    margin-right: auto;
    margin-left: 2rem;
  }
  a {
    color: $main_color;
    font-size: 24px;
    text-decoration: none;
    margin-right: 2rem;
  }
  a:hover {
    text-decoration: underline;
  }
}
